.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
