.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.layout {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content";

  grid-template-columns: 1fr;
  grid-template-rows: minmax(70px, max-content) auto;
}
